<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid clearfix">
      <div class="navbar-header">
        <a class="navbar-brand" href="#"><img src="assets/images/header/PatientHub-small-h-logo.svg" alt="PatientHub Logo"><span class="hidden-xs hidden-sm">PatientHub</span></a>
      </div>
      <div id="navbar">
        <ul class="nav navbar-nav navbar-right">
          <li><div class="fontOpt" data-aura-rendered-by="252:0"><span data-aura-rendered-by="253:0">Text</span><a class="decrease unclickable" data-aura-rendered-by="255:0" href="javascript:void(0);"><img src="assets/images/icons/icon-text-minus-inactive.png" id="decreaseIcon" data-aura-rendered-by="256:0"></a><a class="increase" data-aura-rendered-by="257:0" href="javascript:void(0);"><img src="assets/images/icons/icon-text-plus-active.png" id="increaseIcon" data-aura-rendered-by="258:0"></a></div></li>
          <li><img class="thriveOnLogo" src="assets/images/header/thrive-on-white.svg" alt="Thrive On Logo"></li>
        </ul>
      </div><!--/#navbar -->
    </div>
  </nav>

  <div id="LogoHeader" class="container-fluid">
    <div class="row">
      <div class="col-xs-12 text-center"><img src="assets/images/logos/PatientHub-Logo_RGB.svg" alt="Patient Hub Logo" width="300px"></div>
    </div>
  </div>