.no-wrap {
  white-space: nowrap;
}

.padding-none {
  padding: 0 !important;
}

.btn-default, .btn-primary, section .mainEntryContainer input[type=submit], section .formContainer input[type=submit], .modal .mainEntryContainer input[type=submit], .modal .formContainer input[type=submit] {
  padding: 1.2rem 3rem;
}

.formBtnGroup .btn {
  margin-right: 1rem;
}

.btn-default {
  color: #0033a0;
  font-weight: 700;
  border-color: #0033a0;
  border-radius: 25px;
}
.btn-default:hover, .btn-default:focus, .btn-default:target, .btn-default:visited {
  color: #0033a0;
  border-color: #0033a0;
  background-color: #fff;
}

.btn-primary, section .mainEntryContainer input[type=submit], section .formContainer input[type=submit], .modal .mainEntryContainer input[type=submit], .modal .formContainer input[type=submit] {
  background-color: #0033a0;
  border-color: #0033a0;
  border-radius: 25px;
  font-weight: 700;
}
.btn-primary:hover, section .mainEntryContainer input[type=submit]:hover, section .formContainer input[type=submit]:hover, .modal .mainEntryContainer input[type=submit]:hover, .modal .formContainer input[type=submit]:hover, .btn-primary:focus, section .mainEntryContainer input[type=submit]:focus, section .formContainer input[type=submit]:focus, .modal .mainEntryContainer input[type=submit]:focus, .modal .formContainer input[type=submit]:focus, .btn-primary:target, section .mainEntryContainer input[type=submit]:target, section .formContainer input[type=submit]:target, .modal .mainEntryContainer input[type=submit]:target, .modal .formContainer input[type=submit]:target, .btn-primary:visited, section .mainEntryContainer input[type=submit]:visited, section .formContainer input[type=submit]:visited, .modal .mainEntryContainer input[type=submit]:visited, .modal .formContainer input[type=submit]:visited {
  color: #0033a0;
  border-color: #0033a0;
  background-color: #fff;
}

html, body {
  font-family: "Open Sans", Arial, sans-serif;
  padding-top: 30px;
  background: #F2F5FA;
  position: relative;
}

.navbar-brand {
  min-width: 200px;
}
.navbar-brand:hover, .navbar-brand:focus, .navbar-brand:visited {
  color: #fff;
}
.navbar-brand img {
  width: 35px;
  display: inline-block;
  margin-left: 7px;
  vertical-align: 22px;
  margin-top: 10px;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #fff;
}

h2 {
  font-size: 2.1rem;
  font-weight: 600;
  margin-bottom: 4rem;
}

.modal-backdrop {
  z-index: 10000;
}

.modal {
  z-index: 10001;
  top: 80px !important;
}
.modal .modal-header {
  padding: 2rem 2rem 1rem !important;
}
.modal .modal-body {
  padding: 0 2rem !important;
}

#ConfirmationModal .modal-dialog {
  max-width: 400px;
}
#ConfirmationModal p {
  margin: 2rem 0;
}
#ConfirmationModal .modal-footer .formBtnGroup {
  margin-top: 0;
  margin-bottom: 2rem;
}

.alertBox {
  margin: 2rem 0;
}
.alertBox.alertBox--info {
  color: #fff;
}
.alertBox.alertBox--info div:nth-child(1) {
  background: #265BA8;
  font-size: 2rem;
  padding: 30px 2rem;
}
.alertBox.alertBox--info div:nth-child(2) {
  background: #4C77B7;
  font-size: 1.7rem;
  padding: 2rem;
}
.alertBox.alertBox--error {
  color: #fff;
}
.alertBox.alertBox--error div:nth-child(1) {
  background: #a82a25;
  font-size: 2rem;
  padding: 30px 2rem;
}
.alertBox.alertBox--error div:nth-child(2) {
  background: #bd5151;
  font-size: 1.7rem;
  padding: 2rem;
}

.componentGroup, .formBtnGroup {
  margin-top: 4rem;
}
.componentGroup > a, .componentGroup > button:nth-child(1), .formBtnGroup > a, .formBtnGroup > button:nth-child(1) {
  margin-right: 20px;
}

.tooltip {
  position: relative;
  display: inline-block;
  opacity: 1;
  color: #909090 !important;
  font-size: 1.5rem;
}
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
}

.error {
  margin-top: 2rem;
}
.error.error--text {
  color: #f00;
  font-size: 1.5rem;
}

input + .error {
  margin-top: 0;
  padding: 0 3rem;
}

#ui-datepicker-div {
  z-index: 9999 !important;
}

#CalendarIcon {
  position: absolute;
  width: 25px;
  top: 69px;
  right: 30px;
}

#Main {
  margin-top: 20px;
}
#Main h1 {
  font-weight: bold;
}
#Main .loginContainer, #Main .registrationContainer {
  margin-top: 5rem;
  margin-bottom: 5rem;
  padding: 3rem;
  background-color: #fff;
}
#Main .loginContainer label, #Main .registrationContainer label {
  display: block;
  font-size: 1.5rem;
}
#Main .loginContainer input[type=email], #Main .loginContainer input[type=text], #Main .loginContainer input[type=password], #Main .registrationContainer input[type=email], #Main .registrationContainer input[type=text], #Main .registrationContainer input[type=password] {
  border: 1px solid #666666;
  border-radius: 5px;
  width: 90%;
  padding: 1rem 2rem;
}
#Main .loginContainer a, #Main .registrationContainer a {
  font-weight: 700;
  color: #0033a0;
}
#Main .registrationStep > div {
  margin: 0 auto;
}

#ForgotPasswordStep3 .passwordGuidelinesSm, #Registration .passwordGuidelinesSm {
  position: static;
  bottom: auto;
  right: auto;
  margin-bottom: 0;
}

.notificationBox {
  padding: 4rem;
  background: #fff;
  font-size: 1.6rem;
  max-width: 94%;
  margin-left: 15px;
}
.notificationBox h4 {
  color: #0033a0;
}

section #StepCounter, .modal #StepCounter {
  background: #fff;
  margin: 3rem 0;
  padding: 3rem 0;
}
section #StepCounter .num-circle, .modal #StepCounter .num-circle {
  color: #fff;
  background: #AAAAAA;
  padding: 5px 11px;
  border-radius: 30px;
}
section #StepCounter .num-circle.num-circle--activated, .modal #StepCounter .num-circle.num-circle--activated {
  background: #0033a0;
}
section #StepCounter .divider, .modal #StepCounter .divider {
  display: inline-block;
  width: 60px;
  border-bottom: 2px solid #CCD8EB;
  margin: 5px;
}
section h3, .modal h3 {
  font-weight: 600;
  margin-bottom: 30px;
}
section .mainEntryContainer, section .formContainer, .modal .mainEntryContainer, .modal .formContainer {
  background: #fff;
  padding: 4rem;
  font-size: 1.6rem;
}
section .mainEntryContainer h4, section .formContainer h4, .modal .mainEntryContainer h4, .modal .formContainer h4 {
  color: #0033a0;
}
section .mainEntryContainer label, section .mainEntryContainer input, section .formContainer label, section .formContainer input, .modal .mainEntryContainer label, .modal .mainEntryContainer input, .modal .formContainer label, .modal .formContainer input {
  display: block;
  font-weight: normal;
  margin-top: 2rem;
}
section .mainEntryContainer label.label-inline, section .formContainer label.label-inline, .modal .mainEntryContainer label.label-inline, .modal .formContainer label.label-inline {
  margin-top: 0;
}
section .mainEntryContainer input, section .formContainer input, .modal .mainEntryContainer input, .modal .formContainer input {
  padding: 1rem 3rem;
  width: 100%;
  border: 1px solid #666666;
  border-radius: 5px;
}
section .mainEntryContainer input.error, section .formContainer input.error, .modal .mainEntryContainer input.error, .modal .formContainer input.error {
  border: 1px solid #f00;
}
section .mainEntryContainer input[type=submit], section .formContainer input[type=submit], .modal .mainEntryContainer input[type=submit], .modal .formContainer input[type=submit] {
  width: inherit;
  margin: 0 auto 2rem;
}
section .mainEntryContainer .captcha .captchaRefresh, section .formContainer .captcha .captchaRefresh, .modal .mainEntryContainer .captcha .captchaRefresh, .modal .formContainer .captcha .captchaRefresh {
  background: #265BA8;
  color: #fff;
  font-size: 2.5rem;
  border-radius: 30px;
  padding: 4px 10px;
  margin: 8px;
  display: inline-block;
}
section .mainEntryContainer .formBtnGroup, section .formContainer .formBtnGroup, .modal .mainEntryContainer .formBtnGroup, .modal .formContainer .formBtnGroup {
  margin-top: 5rem;
}
section .mainEntryContainer .label-inline, section .formContainer .label-inline, .modal .mainEntryContainer .label-inline, .modal .formContainer .label-inline {
  display: inline-block;
  width: 100%;
}
section .mainEntryContainer .label-inline > input, section .formContainer .label-inline > input, .modal .mainEntryContainer .label-inline > input, .modal .formContainer .label-inline > input {
  display: inline-block;
  width: auto;
}
section .mainEntryContainer .passwordGuidelinesSm, section .formContainer .passwordGuidelinesSm, .modal .mainEntryContainer .passwordGuidelinesSm, .modal .formContainer .passwordGuidelinesSm {
  position: absolute;
  bottom: 21%;
  right: 16.5%;
}
section .mainEntryContainer .passwordGuidelinesSm, section .mainEntryContainer .passwordGuidelinesMd, section .mainEntryContainer .passwordGuidelinesLg, section .formContainer .passwordGuidelinesSm, section .formContainer .passwordGuidelinesMd, section .formContainer .passwordGuidelinesLg, .modal .mainEntryContainer .passwordGuidelinesSm, .modal .mainEntryContainer .passwordGuidelinesMd, .modal .mainEntryContainer .passwordGuidelinesLg, .modal .formContainer .passwordGuidelinesSm, .modal .formContainer .passwordGuidelinesMd, .modal .formContainer .passwordGuidelinesLg {
  margin-top: 1rem;
  margin-bottom: 3rem;
}
section .mainEntryContainer .passwordGuidelinesSm ul, section .mainEntryContainer .passwordGuidelinesMd ul, section .mainEntryContainer .passwordGuidelinesLg ul, section .formContainer .passwordGuidelinesSm ul, section .formContainer .passwordGuidelinesMd ul, section .formContainer .passwordGuidelinesLg ul, .modal .mainEntryContainer .passwordGuidelinesSm ul, .modal .mainEntryContainer .passwordGuidelinesMd ul, .modal .mainEntryContainer .passwordGuidelinesLg ul, .modal .formContainer .passwordGuidelinesSm ul, .modal .formContainer .passwordGuidelinesMd ul, .modal .formContainer .passwordGuidelinesLg ul {
  list-style: none;
  padding-left: 0;
}
section .mainEntryContainer .passwordGuidelinesSm ul i, section .mainEntryContainer .passwordGuidelinesMd ul i, section .mainEntryContainer .passwordGuidelinesLg ul i, section .formContainer .passwordGuidelinesSm ul i, section .formContainer .passwordGuidelinesMd ul i, section .formContainer .passwordGuidelinesLg ul i, .modal .mainEntryContainer .passwordGuidelinesSm ul i, .modal .mainEntryContainer .passwordGuidelinesMd ul i, .modal .mainEntryContainer .passwordGuidelinesLg ul i, .modal .formContainer .passwordGuidelinesSm ul i, .modal .formContainer .passwordGuidelinesMd ul i, .modal .formContainer .passwordGuidelinesLg ul i {
  margin-right: 1rem;
}
section .mainEntryContainer .passwordGuidelinesSm ul .glyphicon, section .mainEntryContainer .passwordGuidelinesMd ul .glyphicon, section .mainEntryContainer .passwordGuidelinesLg ul .glyphicon, section .formContainer .passwordGuidelinesSm ul .glyphicon, section .formContainer .passwordGuidelinesMd ul .glyphicon, section .formContainer .passwordGuidelinesLg ul .glyphicon, .modal .mainEntryContainer .passwordGuidelinesSm ul .glyphicon, .modal .mainEntryContainer .passwordGuidelinesMd ul .glyphicon, .modal .mainEntryContainer .passwordGuidelinesLg ul .glyphicon, .modal .formContainer .passwordGuidelinesSm ul .glyphicon, .modal .formContainer .passwordGuidelinesMd ul .glyphicon, .modal .formContainer .passwordGuidelinesLg ul .glyphicon {
  color: #AAAAAA;
}
section .mainEntryContainer .passwordGuidelinesSm ul .glyphicon.positive, section .mainEntryContainer .passwordGuidelinesMd ul .glyphicon.positive, section .mainEntryContainer .passwordGuidelinesLg ul .glyphicon.positive, section .formContainer .passwordGuidelinesSm ul .glyphicon.positive, section .formContainer .passwordGuidelinesMd ul .glyphicon.positive, section .formContainer .passwordGuidelinesLg ul .glyphicon.positive, .modal .mainEntryContainer .passwordGuidelinesSm ul .glyphicon.positive, .modal .mainEntryContainer .passwordGuidelinesMd ul .glyphicon.positive, .modal .mainEntryContainer .passwordGuidelinesLg ul .glyphicon.positive, .modal .formContainer .passwordGuidelinesSm ul .glyphicon.positive, .modal .formContainer .passwordGuidelinesMd ul .glyphicon.positive, .modal .formContainer .passwordGuidelinesLg ul .glyphicon.positive {
  color: #66CC66;
}
section .mainEntryContainer .passwordGuidelinesMd, section .formContainer .passwordGuidelinesMd, .modal .mainEntryContainer .passwordGuidelinesMd, .modal .formContainer .passwordGuidelinesMd {
  margin-top: 8rem;
}
section .mainEntryContainer .passwordGuidelinesMd ul, section .formContainer .passwordGuidelinesMd ul, .modal .mainEntryContainer .passwordGuidelinesMd ul, .modal .formContainer .passwordGuidelinesMd ul {
  list-style: none;
  padding-left: 0;
}
section .mainEntryContainer .passwordGuidelinesMd ul i, section .formContainer .passwordGuidelinesMd ul i, .modal .mainEntryContainer .passwordGuidelinesMd ul i, .modal .formContainer .passwordGuidelinesMd ul i {
  margin-right: 1rem;
}
section .mainEntryContainer .passwordGuidelinesMd ul .fas, section .formContainer .passwordGuidelinesMd ul .fas, .modal .mainEntryContainer .passwordGuidelinesMd ul .fas, .modal .formContainer .passwordGuidelinesMd ul .fas {
  color: #AAAAAA;
}
section .mainEntryContainer .passwordGuidelinesMd ul .fas.positive, section .formContainer .passwordGuidelinesMd ul .fas.positive, .modal .mainEntryContainer .passwordGuidelinesMd ul .fas.positive, .modal .formContainer .passwordGuidelinesMd ul .fas.positive {
  color: #66CC66;
}
section .mainEntryContainer form > div, section .formContainer form > div, .modal .mainEntryContainer form > div, .modal .formContainer form > div {
  position: relative;
}
section .formContainer, .modal .formContainer {
  margin-bottom: 50px;
  margin-right: 45px;
  box-shadow: 1px 1px 5px #AAAAAA;
}

#ForgotPasswordStep3 input {
  margin-bottom: 0;
}

.modal .modal-header, .modal .modal-footer {
  border: 0;
}
.modal .modal-header {
  padding: 4rem 4rem 1rem;
}
.modal .modal-header h4 {
  color: #000;
  font-weight: 700;
  margin-top: 30px;
}
.modal .modal-body {
  padding: 0 6rem;
}
.modal .mainEntryContainer {
  background: transparent;
  padding: 0;
}

.fixedBottom {
  position: fixed;
  bottom: 0;
  background-color: #0033a0;
  color: #fff;
  width: 100%;
  padding: 1rem 2rem;
}
.fixedBottom h2 {
  margin-bottom: 1rem;
}
.fixedBottom p {
  font-size: 1.5rem;
}
.fixedBottom .btn {
  margin-top: 2rem;
}
.fixedBottom .btn-primary, .fixedBottom section .mainEntryContainer input[type=submit], section .mainEntryContainer .fixedBottom input[type=submit], .fixedBottom section .formContainer input[type=submit], section .formContainer .fixedBottom input[type=submit], .fixedBottom .modal .mainEntryContainer input[type=submit], .modal .mainEntryContainer .fixedBottom input[type=submit], .fixedBottom .modal .formContainer input[type=submit], .modal .formContainer .fixedBottom input[type=submit] {
  border: 1px solid #fff;
}

.preFilledInfo p:nth-child(odd) {
  margin: 5rem 0 3rem;
}
.preFilledInfo p:nth-child(1) {
  margin: 3rem 0;
}
.preFilledInfo p:nth-child(even) {
  margin-left: 3rem;
}

.ui-datepicker {
  margin-top: -30px !important;
}

.navbar-default {
  background-color: #0033a0;
  color: #fff;
  padding: 0 15px;
  z-index: 9999;
}
.navbar-default .navbar-nav > li > a {
  color: #fff;
}
.navbar-default .navbar-nav > li > a:visited, .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #fff;
}
.navbar-default .navbar-header {
  width: 40px;
  margin-right: 10px;
  display: inline-block;
}
.navbar-default #navbar {
  width: 90%;
  display: inline-block;
}
.navbar-default #navbar li {
  display: inline-block;
}
.navbar-default a.navbar-brand {
  color: #fff;
  font-weight: 700;
  font-size: 2rem;
  padding: 0;
}
.navbar-default a.navbar-brand img {
  width: 35px;
  display: inline-block;
  margin-right: 15px;
  vertical-align: -8px;
}
.navbar-default img.thriveOnLogo {
  width: 180px;
  margin-left: 10rem;
}
.navbar-default .fontOpt img {
  max-width: 15px;
  margin-left: 15px;
}
.navbar-default a.navbar-brand, .navbar-default img.thriveOnLogo, .navbar-default .fontOpt {
  height: 60px;
  line-height: 60px;
}

#LogoHeader {
  margin-bottom: 50px;
}
#LogoHeader .row:nth-child(1) {
  background-color: #fff;
  border: 1px solid #DAE1F0;
  box-shadow: 0px 10px 10px #DAE1F0;
}
#LogoHeader .row:nth-child(1) img {
  margin: 10px 0;
}

footer {
  margin-top: 5rem;
  position: relative;
}
footer ul {
  margin-bottom: 0;
}
footer a {
  text-decoration: underline;
}
footer a:hover, footer a:focus, footer a:target, footer a:visited {
  text-decoration: underline;
}
footer .list-inline > li {
  border-right: 1px solid #666666;
  padding-right: 7px;
}
footer .list-inline > li a {
  color: #0033a0;
}
footer .list-inline > li:last-child {
  border-right: 0;
}
footer .btn-md {
  font-size: 1.2rem;
  padding: 1.2rem 2rem;
  display: block;
  margin: 2rem auto;
}
footer .footerBottom {
  background-color: #fff;
  font-size: 1.1rem;
  font-weight: 700;
  color: #666666;
  margin-top: 5rem;
  padding: 15px 0;
}
footer .footerBottom a {
  color: #666666 !important;
}
footer .footerBottom a:visited, footer .footerBottom a:target, footer .footerBottom a:focus, footer .footerBottom a:active {
  color: #666666;
}
footer .icon.icon--comment {
  display: inline;
  width: 16px;
  vertical-align: top;
}

/* iPhone X and Xs Max */
@media only screen and (min-device-width: 375px) and (min-device-height: 812px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait) {
  #Main h1 {
    display: none;
  }
}
@media screen and (min-width: 320px) {
  .xs-padding-none {
    padding: 0;
  }
  .xs-padding-none .alertBox div:nth-child(1) {
    width: 4%;
  }
  .xs-padding-none .alertBox div:nth-child(2) {
    width: 87%;
  }

  .registrationStep > div {
    padding: 0;
  }

  .notificationBox {
    margin: 0;
    width: 100%;
  }

  section .mainEntryContainer {
    padding: 0;
  }
  section .mainEntryContainer input {
    padding: 1rem;
  }

  .navbar, .navbar .container-fluid {
    padding: 0;
  }

  .navbar-nav {
    margin: 0 15px 0 0;
  }

  .navbar-default .navbar-header {
    width: 10%;
    margin-right: 24px;
    display: inline-block;
    margin-left: 5px;
  }

  .navbar-default #navbar {
    width: 80%;
  }

  .navbar-default img.thriveOnLogo {
    width: 110px;
    margin: 0;
  }
}
@media screen and (min-width: 375px) {
  .registrationStep > div {
    padding: 0;
  }

  section .mainEntryContainer {
    padding: 4rem;
  }
  section .mainEntryContainer input {
    padding: 1rem 3rem;
  }

  .notificationBox {
    margin: 0;
    width: 100%;
    max-width: 100%;
  }

  .navbar, .navbar .container-fluid {
    padding: 0 15px;
  }
}
@media screen and (min-width: 600px) {
  .xs-padding-none {
    padding: 0;
  }
  .xs-padding-none .alertBox div:nth-child(1) {
    width: 4%;
  }
  .xs-padding-none .alertBox div:nth-child(2) {
    width: 93%;
  }

  section .mainEntryContainer {
    padding: 4rem;
  }

  .navbar-header {
    width: 50px;
    display: block;
    float: left;
  }

  #navbar {
    display: block;
    float: right;
  }

  .nav li {
    display: inline-block;
  }

  .notificationBox {
    margin: 0;
    width: 100%;
    max-width: 100%;
  }

  .navbar-nav {
    margin: 0;
  }
}
@media screen and (min-width: 767px) {
  .xs-padding-none {
    padding: inherit;
  }

  .alertBox.alertBox--info div:nth-child(1) {
    background: #265BA8;
    font-size: 2rem;
  }

  section .mainEntryContainer {
    padding: 4rem;
  }

  .notificationBox {
    margin: 0;
    width: 100%;
    max-width: 100%;
  }

  .modal-dialog {
    width: 800px;
  }
}
@media screen and (min-width: 962px) {
  footer .helpMenu {
    text-align: right;
  }
  footer .helpMenu ul, footer .helpMenu button {
    display: inline-block;
    margin-right: 15px;
  }

  section .mainEntryContainer {
    padding: 4rem;
  }

  .notificationBox {
    margin: 0;
    width: 100%;
    max-width: 100%;
  }

  #Main .registrationContainer a {
    display: block;
    margin: 2rem 0 6.3rem;
  }

  .modal-dialog {
    width: 800px;
  }

  .registrationStep > div {
    padding: 0 15px;
  }
}
@media screen and (min-width: 1200px) {
  footer .helpMenu {
    text-align: right;
  }
  footer .helpMenu ul, footer .helpMenu button {
    display: inline-block;
    margin-right: 15px;
  }

  .notificationBox {
    margin: 0;
    max-width: 94%;
    margin-left: 15px;
  }

  #Main .loginContainer, #Main .registrationContainer {
    margin: 3rem 15px;
    float: left;
  }
  #Main .registrationContainer a {
    display: block;
    margin: 2rem 0 6.3rem;
  }

  .modal-dialog {
    width: 800px;
  }

  .registrationStep > div {
    padding: 0 15px;
  }
}

/*# sourceMappingURL=styles.css.map */
