$primary-blue: #0033a0;
$light-blue: #99CDFD;
$info-blue--dark: #265BA8;
$info-blue--light: #4C77B7;
$info-red--dark:#a82a25;
$info-red--light:#bd5151;
$salmon: #FF8080;
$grey: #666666;
$light-grey:#DAE1F0;
$medium-grey: #AAAAAA;
$icon-grey: #909090;
$divider-grey: #CCD8EB;
$offwhite: #F2F5FA;
$white: #fff;
$black: #000;
$green: #66CC66;
