/* iPhone X and Xs Max */
@media only screen 
    and (min-device-width: 375px) 
    and (min-device-height: 812px) 
    and (-webkit-device-pixel-ratio: 3)
    and (orientation: portrait) { 
    #Main h1 {display:none;}
}
//320x569 tablet and 360x640 iPad/Tablet
@media screen and (min-width: 320px) {
    .xs-padding-none {
        padding:0;
        & .alertBox div:nth-child(1) {width:4%;}
        & .alertBox div:nth-child(2) {width:87%;}
    }
    .registrationStep {
        &>div {padding:0;}
    }
    .notificationBox {
        margin:0;
        width:100%;
    }
    section .mainEntryContainer {
        padding:0;
        & input {padding:1rem;}
    }
    .navbar, .navbar .container-fluid {padding:0;}
    .navbar-nav {margin:0 15px 0 0;}
    .navbar-default .navbar-header {
        width: 10%;
        margin-right: 24px;
        display: inline-block;
        margin-left: 5px;
    }
    .navbar-default #navbar {
        width:80%;
    }
    .navbar-default img.thriveOnLogo {
        width:110px;
        margin:0;
    }
    
}
//375x667 tablet and 412x732 iPad/Tablet
@media screen and (min-width: 375px) {
    .registrationStep {
        &>div {padding:0;}
    }
    section .mainEntryContainer {
        padding:4rem;
        & input {padding:1rem 3rem;}
    }
    .notificationBox {
        margin:0;
        width:100%;
        max-width:100%;
    }
    .navbar, .navbar .container-fluid {padding:0 15px;}

}
//601x962 tablet and 768x1024 iPad/Tablet
@media screen and (min-width: 600px) {
    .xs-padding-none {
        padding:0;
        & .alertBox div:nth-child(1) {width:4%;}
        & .alertBox div:nth-child(2) {width:93%;}
    }
    section .mainEntryContainer {padding:4rem;}
    .navbar-header {width:50px;display: block;float:left;}
    #navbar {display:block;float:right;}
    .nav {
        & li {
            display:inline-block;
        }

    }
    .notificationBox {
        margin:0;
        width:100%;
        max-width:100%;
    }
    .navbar-nav {margin:0;}

    #Main {
        & .loginContainer {
            // margin: 15rem auto;
        }
    }

    

    
}
//601x962 tablet and 768x1024 iPad/Tablet
@media screen and (min-width: 767px) {
    .xs-padding-none {padding:inherit;}
    .alertBox {
        &.alertBox--info {
            & div:nth-child(1) {
                background:$info-blue--dark;
                font-size:2rem;
                // padding:1.8rem 2rem;
                
            }
        }
    }
    section .mainEntryContainer {padding:4rem;}
    .notificationBox {
        margin:0;
        width:100%;
        max-width:100%;
    }
    .modal-dialog {width:800px;}
}
//962x601 tablet and 1024x768 iPad/Tablet
@media screen and (min-width: 962px) {
    footer {
        & .helpMenu {
            text-align: right;
            & ul, & button {
                display: inline-block;
                margin-right:15px;
            }
        }
        
    }
    section .mainEntryContainer {padding:4rem;}
    .notificationBox {
        margin:0;
        width:100%;
        max-width:100%;
    }
    #Main {
        & .loginContainer, & .registrationContainer {
            // margin:15rem auto;
        }

        & .registrationContainer {
            & a {
                display: block;
                margin:2rem 0 6.3rem;
            }
        }
    }
    .modal-dialog {width:800px;}
    .registrationStep {
        &>div {
            padding:0 15px;
        }
    }
}

//962x601 tablet and 1024x768 iPad/Tablet
@media screen and (min-width: 1200px) {
    footer {
        & .helpMenu {
            text-align: right;
            & ul, & button {
                display: inline-block;
                margin-right:15px;
            }
        }
        
    }
    .notificationBox {
        margin:0;
        max-width:94%;
        margin-left:15px;
    }
    #Main {
        & .loginContainer, & .registrationContainer {
            margin:3rem 15px;
            float: left;
        }

        & .registrationContainer {
            & a {
                display: block;
                margin:2rem 0 6.3rem;
            }
        }
    }
    .modal-dialog {width:800px;}
    .registrationStep {
        &>div {
            padding:0 15px;
        }
    }
}

