html, body {
    font-family: $primary-font-family;
    padding-top:30px;
    background:$offwhite;
    position: relative;
}

.navbar-brand {
    min-width:200px;
    &:hover, &:focus, &:visited {color:$white;}
    & img {
        width:35px;
        display:inline-block;
        margin-left:7px;
        vertical-align: 22px;
        margin-top:10px;
    }
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {color:$white;}
h2 {
    font-size:2.1rem;
    font-weight:600;
    margin-bottom:4rem;
}
.modal-backdrop {z-index:10000;}
.modal {
    z-index:10001;top:80px !important;

    & .modal-header {padding:2rem 2rem 1rem !important;}
    & .modal-body {padding:0 2rem !important;}
}
#ConfirmationModal {
    & .modal-dialog {max-width:400px;}
    & p {margin:2rem 0;}
    & .modal-footer {
        & .formBtnGroup {
            margin-top:0;
            margin-bottom:2rem;
        }
    }
}

.alertBox {
    margin:2rem 0;

    &.alertBox--info {
        color:$white;
        & div:nth-child(1) {
            background:$info-blue--dark;
            font-size:2rem;
            padding:30px 2rem;
            
        }
        & div:nth-child(2) {
            background:$info-blue--light;
            font-size:1.7rem;
            padding:2rem;
        }
    }
    &.alertBox--error {
        color:$white;
        & div:nth-child(1) {
            background:$info-red--dark;
            font-size:2rem;
            padding:30px 2rem;
            // max-width:4%;
            
        }
        & div:nth-child(2) {
            background:$info-red--light;
            font-size:1.7rem;
            padding:2rem;
            // width:96%;
        }
    }
}
.componentGroup, .formBtnGroup {
    margin-top:4rem;
    &>a, &>button:nth-child(1) {margin-right:20px;}
}
.tooltip {
    position: relative;
    display: inline-block;
    opacity:1;
    color:$icon-grey !important;
    font-size:1.5rem;
    & .tooltiptext {
        visibility: hidden;
        width: 120px;
        background-color: black;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 5px 0;
      
        /* Position the tooltip */
        position: absolute;
        z-index: 1;
      }
      &:hover .tooltiptext {
        visibility: visible;
      }
  }

  .error {
      margin-top:2rem;
      &.error--text {
          color:#f00;
          font-size:1.5rem;
      }
  }
  input + .error {margin-top:0;padding:0 3rem;}
#ui-datepicker-div {z-index:9999 !important;}
#CalendarIcon {
    position: absolute;
    width: 25px;
    top: 69px;
    right: 30px;
}
#Main {
    margin-top:20px;
    & h1 {font-weight:bold;}
    & .loginContainer, .registrationContainer {
        margin-top:5rem;
        margin-bottom:5rem;
        padding:3rem;
        background-color:$white;

        & label {display:block;font-size:1.5rem;}
        & input[type="email"], & input[type="text"], & input[type="password"] {
            border:1px solid $grey;
            border-radius:5px;
            width:90%;
            padding:1rem 2rem;
        }
        & a {font-weight:700;color:$primary-blue;}

    }
    .registrationStep {
        &>div {
            margin:0 auto;
        }
    }
}
#ForgotPasswordStep3, #Registration {
    & .passwordGuidelinesSm {
        position: static;
        bottom:auto;
        right:auto;
        margin-bottom:0;
    }
}
.notificationBox {
    padding:4rem;
    background:$white;
    font-size:1.6rem;
    max-width:94%;
    margin-left:15px;
    & h4 {color:$primary-blue}

}
section, .modal {
    #StepCounter {
        background:$white;
        margin:3rem 0;
        padding:3rem 0;

        & .num-circle {
            color:$white;
            background:$medium-grey;
            padding:5px 11px;
            border-radius:30px;
            &.num-circle--activated {
                background:$primary-blue;
            }
        }
        & .divider {
            display: inline-block;
            width:60px;
            border-bottom:2px solid $divider-grey;
            margin:5px;
        }
    }
    h3 {font-weight:600;margin-bottom:30px;}
    
    .mainEntryContainer, .formContainer {
        background:$white;
        padding:4rem;
        font-size:1.6rem;
        & h4 {color:$primary-blue;}
        
        & label, & input {display: block;font-weight:normal;margin-top:2rem;}
        & label.label-inline {margin-top:0;}
        & input {
            // margin-bottom:3rem;
            padding:1rem 3rem;
            width:100%;
            border:1px solid $grey;
            border-radius:5px;
            &.error {border: 1px solid #f00;}
            &[type="submit"] {
                width:inherit;
                margin:0 auto 2rem;
                @extend .btn-primary;
            }
        }
        & .captcha {
            & .captchaRefresh {
                background:$info-blue--dark;
                color:$white;
                font-size:2.5rem;
                border-radius:30px;
                padding:4px 10px;
                margin:8px;
                display: inline-block;
            }
        }
        & .formBtnGroup {
            margin-top:5rem;
        }

        & .label-inline {
            display:inline-block;
            width:100%;
            &>input {display:inline-block;width:auto;}
        }
        & .passwordGuidelinesSm {
            position: absolute;
            bottom:21%;
            right:16.5%;
        }
        
        & .passwordGuidelinesSm, & .passwordGuidelinesMd, & .passwordGuidelinesLg {
            margin-top:1rem;
            margin-bottom:3rem;

            & ul {
                list-style: none;
                padding-left:0;
                & i {margin-right:1rem;}
                & .glyphicon {
                    color:$medium-grey;
                    &.positive {color:$green;}
                }
            }
        }
        & .passwordGuidelinesMd {
            margin-top:8rem;

            & ul {
                list-style: none;
                padding-left:0;
                & i {margin-right:1rem;}
                & .fas {
                    color:$medium-grey;
                    &.positive {color:$green;}
                }
            }
        }
        & form {
            &>div {position:relative;}
        }
    }

    .formContainer {
        margin-bottom:50px;
        margin-right:45px;
        box-shadow:1px 1px 5px $medium-grey;
    }
    
}
#ForgotPasswordStep3 {
    & input {margin-bottom:0;}
}
.modal {
    & .modal-header, & .modal-footer {border:0;}
    & .modal-header {
        padding:4rem 4rem 1rem;
        h4 {
            color:#000;
            font-weight: 700;
            margin-top:30px;
        }
    }
    & .modal-body {padding:0 6rem;}
    & .mainEntryContainer {
        background: transparent;
        padding:0;
    }
}

.fixedBottom {
    position: fixed;
    bottom:0;
    background-color:$primary-blue;
    color:$white;
    width:100%;
    padding:1rem 2rem;
    & h2 {margin-bottom:1rem;}
    & p {font-size:1.5rem;}
    & .btn {margin-top:2rem;}
    & .btn-primary {
        border:1px solid $white;
    }
}

.preFilledInfo {
    & p:nth-child(odd) {
        margin:5rem 0 3rem;
    }
    & p:nth-child(1) {
        margin:3rem 0;
    }
    & p:nth-child(even) {
        margin-left:3rem;
    }
}
.ui-datepicker {margin-top:-30px !important;}