footer {
    margin-top:5rem;
    position: relative;
    & ul {margin-bottom:0;}
    & a {
        text-decoration: underline;
        &:hover, &:focus, &:target, &:visited {
            text-decoration: underline;
        }
    }
    & .list-inline > li {
        border-right: 1px solid $grey;
        padding-right:7px;

        & a {color:$primary-blue;}

        &:last-child {border-right:0;}
    }
    & .btn-md {
        font-size:1.2rem;
        padding:1.2rem 2rem;
        display:block;
        margin: 2rem auto;
    }
    & .footerBottom {
        background-color:$white;
        font-size:1.1rem;
        font-weight:700;
        color:$grey;
        margin-top:5rem;
        padding:15px 0;
        
        & a {
            color:$grey !important;
            &:visited, &:target, &:focus, &:active {
                color:$grey;
            }
        }
    }

    & .icon {
        &.icon--comment {
            display:inline;
            width:16px;
            vertical-align: top;
        }
    }
}